.navbar-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

.nav-button {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}