<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>edit_document</mat-icon>
        <span class="navbar-title">Sistema de encuestas</span>
    </a>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-button class="nav-button">Iniciar sesión</a>
    <a [routerLink]="'/signup'" mat-button class="nav-button">Registrarse</a>
    <a [routerLink]="'/inside/home'" mat-button class="nav-button">Inside</a>
</mat-toolbar>