<div class="col-md-9">
    <!-- <router-outlet></router-outlet> -->
    <mat-card class="profile-card">
        <h1>Detalles del perfil</h1>
        <mat-card-content>
            <div class="bootstrap-wrapper">
                <div class="container">
                    <div class="text-center">
                        <img src="https://w7.pngwing.com/pngs/177/551/png-transparent-user-interface-design-computer-icons-default-stephen-salazar-graphy-user-interface-design-computer-wallpaper-sphere-thumbnail.png" 
                            alt="" class="profile-image">
                        <h1 class="mt20 profile-title">Johan Chavarria</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table text-center">
                                <tr>
                                    <td>Nombre de usuario</td>
                                    <td>Johan Chavarria Bustos</td>                                
                                </tr>
                                <tr>
                                    <td>Documento de identidad</td>
                                    <td>1233449844</td>                                
                                </tr>
                                <tr>
                                    <td>Correo electrónico</td>
                                    <td>3201567419</td>                                
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center mt20">
                <button mat-raised-button color="primary">Actualizar</button>
                <button style="margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>