<div class="container">
    <div class="content">
        <mat-card class="bootstrap-wrapper">
            <mat-card-content class="main-content">
                <div class="cards">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Crear encuesta</mat-card-title>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/editar-documento.png">
                        <mat-card-content class="card-description">
                            <p>Esta opción te permite crear una nueva encuesta.</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-flat-button color="primary" routerLink="/inside/survey">Crear</button>
                        </mat-card-actions>
                    </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Mostrar encuestas</mat-card-title>
                        </mat-card-header>
                            <img mat-card-image src="../../../../assets/revision.png">
                        <mat-card-content class="card-description">
                            <p>Esta opción te muestra la lista de todas las encuestas creadas.</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-flat-button color="primary" routerLink="/inside/list-survey">Listar</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>